.header {
    grid-column: span 2;
    background: #5c21a9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소를 양 끝으로 배치 */
    padding: 0 20px;
    position: relative;
    height: 70px;
  }
  
  .header .logo {
    display: flex;
    align-items: center;
    margin-right: auto; /* 로고를 맨 왼쪽으로 고정 */
  }
  
  .header .logo img {
    height: 60px;
    margin-right: 10px;
  }
  
  .header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
